.wrapper {
  padding: 0 30px;
  max-width: 600px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    width: 120px;
  }
}
.list {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
}
.card {
  padding: 20px 30px;
}
.actions {
  display: flex;
  button:first-of-type {
    margin-right: 15px;
  }
}
.modal {
  h3 {
    margin-top: 0px;
  }
  .modalInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  label {
    display: block;
    text-align: center;
  }
  input {
    margin-bottom: 15px;
    background: #F2F2F2;
    padding: 10px 30px;
    font-size: 14px;
    width: 350px;
    text-align: center;
    border: none;
    border: 1px solid rgba(162,162,162,0.50);
  }
}
.modalButtons {
  display: flex;
  margin-top: 20px;
  button:last-of-type {
    margin-left: 10px;
    color: #FF5743;
  }
}
