.wrapper {
  padding: 0 30px;
  max-width: 600px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    width: 120px;
  }
}
.list {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
}
.card {
  padding: 20px 30px;
}
.actions {
  display: flex;
  button:first-of-type {
    margin-right: 15px;
  }
}
.deleteModal {
  text-align: center;
}
.modal {
  h3 {
    margin-top: 0px;
  }
  .modalInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  label {
    display: block;
    text-align: center;
  }
  input {
    margin-bottom: 15px;
    background: #F2F2F2;
    padding: 10px 30px;
    font-size: 14px;
    width: 350px;
    text-align: center;
    border: none;
    border: 1px solid rgba(162,162,162,0.50);
  }
}
.modalButtons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  button, span {
    width: 45%;
  }
  span {
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    color: #FF5743;
  }
}
.fakeButton {
  font-family: AvenirNext-DemiBold;
  font-size: 12px;
  color: #1C1C1C;
  letter-spacing: 0px;
  border-radius: 2px;
  width: 100%;
  background: #fff;
  outline: none;
  color: #1C1C1C;
  border: 1px solid #1C1C1C;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
  &:focus {
    color: #1C1C1C;
  }
}
