.feedbackWrapper {
	right: 0;
	z-index: 1000;
	position: fixed;
	transition: all 0.3s ease;
  bottom: 0px;
}
.borders {
  border-top-left-radius: 3px;
}
.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
	box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  background: white;
  &:hover {
    background: #eee;
  }
  i {
    margin-right: 5px;
  }
}
.feedbackContent {
	width: 450px;
	right: 0;
	z-index: 1000;
	overflow: hidden;
	position: fixed;
	transition: all 0.3s ease;
  bottom: -381px;
  .heading {
    background: $black2;
    padding: 10px 20px;
    border-top-left-radius: 3px;
    img {
      max-height: 35px;
    }
  }
  .form {
    height: 300px;
    background: $yellow;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-top: 0px;
    p {
      font-size: 16px;
    }
  }
  textarea {
    height: 250px;
  }
  input, textarea {
    border-radius: 3px;
    margin-bottom: 20px;
    background: #F2F2F2;
    padding: 10px 10px;
    font-size: 12px;
    width: 350px;
    border: 1px solid rgba(162,162,162,0.50);
  }
  &.active {
		bottom: 0px;
	}
  .submitButton {
    width: 350px;
    padding: 10px 10px;
    min-height: 40px;
  }
}

.close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 6px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	backface-visibility: hidden;
	&:hover,
	&:focus {
		outline: none;
	}
	&:hover::after,
	&:hover::before {
	  background: #fff;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 3px;
		height: 60%;
		top: 50%;
		left: 50%;
		background: #eee;
	}
	&::before {
		transform: translate(-50%,-50%) rotate(45deg);
	}
	&::after {
		transform: translate(-50%,-50%) rotate(-45deg);
	}
}
