/* Function list */

.functionList {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
}
.functionInfo {
  width: 60%;
}
.functionCard:hover button {

}
.function {
  padding: 19px;
  transition: background-color .3s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.functionActions {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 10px;
  }
  button:last-of-type {
    margin-bottom: 0px;
  }
}
.functionName span {
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  color: #1C1C1C;
  letter-spacing: 0px;
}
.eventDisplay {
  padding-left: 20px;
}
.eventProperties {
  padding-left: 10px;
  font-size: 12px;
}
.property {
  font-weight: bold;
  margin-right: 5px;
}
