
.content {
  flex-grow: 1;
  height: 100%;
}
.header {
  display: flex;
  background: #fff;
  padding: 0 30px;
  padding-top: 0px;
  /* Rectangle: */
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  justify-content: space-between;
  align-items: center;
  button {
    width: 160px;
  }
}
.error {
  padding: 30px;
  font-size: 30px;
  color: $red;
}
.headerLeft {

}
.headerRight {
  width: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  button:first-of-type {
    margin-bottom: 10px;
  }
  button:last-of-type {
    color: $red;
    border-color: $red;
  }
}
.serviceName {
  font-size: 20px;
  cursor: default;
  a {
    color: $black2;
  }
}
.currentServiceContext {
  display: flex;
  margin-bottom: 20px;
  .currentStage, .currentAccount, .currentRegion {
    margin-right: 20px;
    display: flex;
    align-items: center;
    min-width: 80px;
    font-weight: bold;
  }
}
.serviceMeta {
  display: flex;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  div {
    margin-right: 20px;
  }
  h2 {
    margin: 0;
    padding: 0px;
    font-size: 20px;
  }
}

.serviceInfo {
  padding-left: 30px;
  padding-right: 30px;
}

.contents {
  display: flex;
  height: 100%;
}
.contentsLeft {
  width: 60%;
  height: 100%;
}
.contentsRight {
  width: 40%;
  height: 100%;
}
.modal {
  width: 70vw;
}
.modalButtons {
  display: flex;
  button {
    margin-right: 20px;
  }
}
.invokeBox {
  margin: 20px 0px;
  textarea {
    width: 95%;
    padding: 10px;
    height: 230px;
  }
}
