.console {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  background: #000;
  color: #ffd426;
  font-size: 12px;

  position: relative;
  z-index: 2;
  .bg {
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: 1;
    left: 0;
  }
  .clear {
    color: rgba(255, 255, 255, 0.73);
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 9;
    cursor: pointer;
    font-size: 10px;
    &:hover {
      color:#fff;
    }
  }
  .text {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  pre {
    white-space: pre-line;
    word-break: break-word;
    padding: 20px;
    padding-top: 10px;
  }
}
