.serviceListPageWrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.pageTitle {
  h1 {
    margin-bottom: 10px;
  }
}
.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div > button:last-of-type {
    margin-right:0px;
  }
  input {
    height: 25px;
    display: block;
    padding: 0px 8px;
    min-width: 200px;
  }
  margin-bottom: 10px;
}
.notFound {
  padding: 20px;
}
.modalButtons {
  display: flex;
  margin-top: 20px;
  button:first-of-type {
    margin-right: 10px;
    color: #FF5743;
  }
}

.serviceList {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  margin-bottom: 80px;
  a {
    color: #191919;
    position: relative;
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
    color: #1C1C1C;
    letter-spacing: 0px;
    text-decoration: none;
    i {
      display: none;
      font-size: 11px;
      color: #696969;
      margin-left: 5px;
      margin-top: 3px;
    }
    &:hover i {
      display: block;
    }
  }
}
