.serviceListPageWrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.service {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.serviceMetaWrapper {
  margin-top: 10px;
}
.serviceMeta {
  font-size: 12px;
}
.serviceMetaProperty {
  font-weight: bold;
  margin-right: 5px;
}
.modalButtons {
  display: flex;
  margin-top: 20px;
  button:first-of-type {
    margin-right: 10px;
    color: #FF5743;
  }
}
.info {
  font-size: 12px;
}
.serviceList {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(162,162,162,0.50);
  a {
    color: #191919;
    position: relative;
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
    color: #1C1C1C;
    letter-spacing: 0px;
    text-decoration: none;
    i {
      display: none;
      font-size: 11px;
      color: #696969;
      margin-left: 5px;
      margin-top: 3px;
    }
    &:hover i {
      display: block;
    }
  }
}
.serviceLink {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 10px;
  }
}
.delete {

}
