$navHeight: 45px;
$NavBackground: #FFD426;
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #F6F6F6;
}
.navigationWrapper {
  color: #1C1C1C;
  background: #FFF;
}
.navigationFixed {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $navHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  a {
    color: #1C1C1C;
  }
}
.navigationBumper {
  height: $navHeight;
}
.leftNav {
  background: $NavBackground;
  height: $navHeight;
  overflow: hidden;
}
.middleNav {
  flex-grow: 1;
  height: $navHeight;
  background: $NavBackground;
  align-items: center;
  display: flex;
  a {
    display: flex;
    align-items: center;
    height: $navHeight;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  .update {
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
  }
}
.rightNav {
  display: flex;
  align-items: center;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
  height: $navHeight;
  background: $NavBackground;
}
.logo {
  display: flex;
  width: 100%;
  height: $navHeight;
  width: $navHeight;
  background: #FFD426;
  margin-right: 1.75em;
  align-items: center;
  justify-content: center;
  img {
    height: 25px;
  }
}
.settings {
  margin-right: 20px;
  color: #fff;
  height: 24px;
}
