.wrapper {
  padding-top: 30px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at top,#ffea93 0,#ffd734 75%);
  color: #333;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  top:0;
  left: 0;
  p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
    background: #F2F2F2;
    padding: 10px 30px;
    font-size: 18px;
    width: 350px;
    text-align: center;
    border: none;
    border: 1px solid rgba(162,162,162,0.50);
  }
}
.createButton {
  width: 300px;
  font-size: 16px;
  padding: 10px 30px;
  background: #191919;
  color: #fff;
  border: 0 solid #191919;
  border-radius: 2px;
}

.createButton:hover {
  background: #202020;
}

.playerWrapper {
  width: 640px;
  margin-bottom: 20px;
}
.player {
  margin: 0;
  padding: 0;
}

.link, .link:visited, .link:active {
  color: #333;
  text-decoration: underline;
}

.link:hover {
  color: #000;
}

.videoWrapper {

}
.video {

}
